.main {
    float: left;
    width: calc(100% - 250px);
    height: 100vh;
    background-color: rgb(20, 25, 34);
}

.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.section-title {
    color: white;
    font-weight: 800;
    margin-bottom: 5px;
}

.cover {
    position: relative;
}

.item {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    text-align: center;
}

.item-title {
    color: white;
    font-weight: 800;
    margin-bottom: 10px;
}

.card {
    width: calc((100% / 6) - 10px);
    margin: 15px 10px 0px 0px;
}

.artist {
    border-radius: 50%;
}

