@media screen and (max-width: 600px) {
    .nav {
        width: 50px;
        padding: 0;
    }
    
    .main {
        width: calc(100% - 50px);
    }

    .logo-big {
        display: none;
    }
    
    .logo-small {
        display: block;
    } 

    .nav-main ul li a span,
    .user a span {
        display: none;
    }

    .nav-main ul li a i,
    .user a i {
        font-size: 25px;
    }

    .playlist {
        display: none;
    }

    .card {
        width: calc((100% / 2) - 10px);
    }

}

@media screen and (max-width: 1210px) {
    .card {
        width: calc((100% / 4) - 10px);
    }

}

@media screen and (max-width: 752px) {
    .card {
        width: calc((100% / 2) - 10px);
    }

}

