.nav {
    float: left;
    width: 250px;
    height: calc(100vh - 76px);
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 50px;
}

.logo {
    min-height: 85px;
    margin-bottom: 20px;
}

.nav-main {
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.playlist {
    min-height: 150px;
    overflow-y: auto;
}

.user {
    display: flex;
    margin-top: auto;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
    min-height: 90px;
    background-color: black;
}

hr {
    margin: 20px 0;
}

.nav-main ul li {
    font-weight: 600;
}

.playlist h4 {
    color: white;
    margin-bottom: 25px;
}

.new-playlist {
    display: flex;
    color: rgb(163, 163, 163);
    align-items: center;
    margin-bottom: 25px;
}

i {
    margin-right: 15px;
}

.cust-playlist ul li {
    font-size: 15px;
}

@media screen and (max-width: 600px) {
    .nav {
        width: 50px;
    }
    
}